.menu {
  height: 100vh;
  padding: 100px 0;
  background-image: url(../images/background_menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  max-width: 780px;
  margin: auto;
}

.menu__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  max-width: 780px;
  margin: 24px auto 100px;
}

.menu__cards {
  gap: 100px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
