.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
}

@font-face {
  src: url(https://fonts.googleapis.com/css2?family=Inter&family=Istok+Web:wght@400;700&family=Ubuntu:wght@400;700&display=swap);
  font-family: "Inter", Arial, sans-serif;
}

@font-face {
  src: url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Istok+Web:wght@400;700&family=Ubuntu:wght@400;700&display=swap);
  font-family: "Inter", Arial, sans-serif;
}
@font-face {
  src: url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Istok+Web:wght@400;700&family=Ubuntu:wght@400;700&display=swap);
  font-family: "Inter", Arial, sans-serif;
}

@font-face {
  src: url(https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Istok+Web:wght@400;700&family=Noto+Serif&family=Ubuntu:wght@400;700&display=swap);
  font-family: "Noto Serif", "Times New Roman", serif;
}
@font-face {
  src: url(https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Istok+Web:wght@400;700&family=Noto+Serif:ital@0;1&family=Ubuntu:wght@400;700&display=swap);
  font-family: "Noto Serif", "Times New Roman", serif;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;

  .nav {
    justify-content: space-between; 
    display: flex;
  }

  .nav__logo {
    width: 105px;
    height: 39px;
  }

  .nav__links {
    display: flex; 
    margin: 8px 0 0;
    list-style: none;
    column-gap: 20px; 
    padding: 0;
  }

  .nav__link {
    color: #000000;
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .nav__link:hover {
      color: #2f80ed;
    }

  .header__title {
    font-size: 66px;
    line-height: 76px;
    font-weight: 500;
    margin-top: 183px;
    max-width: 729px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
    

.span-accent {
  display: block;
  color: #2f80ed;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;

line-height: 72px;
}
